<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="dailyExpenses.css" />
    <title>Daily Expenses</title>
  </head>
  <body hidden>
    <div id="header">
      <button
        onclick="{window.location.href = '../expense.html'}"
        style="
          padding: 8px;
          margin-left: 50px;
          margin-top: 20px;
          color: white;
          background-color: rgb(117, 160, 163);
          border: none;
          border-radius: 5px;
          cursor: pointer;
        "
      >
        Back to App
      </button>
      <h1 style="color: blue">Dαყ ƚσ Dαყ Exρҽɳʂҽʂ</h1>
      <p id="time"></p>
      <h1>Track your spending effectively!</h1>
    </div>
    <h1>This Month Details</h1>
    <div id="excel-table" class="excel-table">
      <div class="excel-row header">
        <div class="excel-cell">Date</div>
        <div class="excel-cell">Description</div>
        <div class="excel-cell">Category</div>
        <div class="excel-cell">Income</div>
        <div class="excel-cell">Expenses</div>
      </div>
      <div id="values"></div>
      <!-- <div class="excel-row">
        <div class="excel-cell">2025-06-22</div>
        <div class="excel-cell">Groceries</div>
        <div class="excel-cell">Food</div>
        <div class="excel-cell">₹500</div>
        <div class="excel-cell">₹500</div>
      </div>
      <div class="excel-row">
        <div class="excel-cell">2025-06-21</div>
        <div class="excel-cell">Transport</div>
        <div class="excel-cell">Travel</div>
        <div class="excel-cell">₹150</div>
        <div class="excel-cell">₹150</div>
      </div> -->
      <div id="result" class="excel-row">
        <div class="excel-cell"></div>
        <div class="excel-cell"></div>
        <div style="color: blue" class="excel-cell">Total</div>
        <div id="totalIncome" style="color: green" class="excel-cell"></div>
        <div id="totalExpenses" style="color: red" class="excel-cell"></div>
      </div>
    </div>

    <div id="downloadFile"><button>Download Details</button></div>
    <p id="footer">All rights reserved by @ritik</p>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./dailyExpenses.js"></script>
</html>
