<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="leaderBoard.css" />
    <title>LeaderBoardList</title>
  </head>
  <body hidden>
    <button
      id="backButton"
      style="
        padding: 8px;
        margin-left: 50px;
        margin-top: 20px;
        color: white;
        background-color: rgb(117, 160, 163);
        border: none;
        border-radius: 5px;
        cursor: pointer;
      "
    >
      Back to App
    </button>
    <div>
      <h1>Leader Board List</h1>
      <div id="userListBox">
        <ul id="userList"></ul>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="leaderBoard.js"></script>
</html>
