body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #007bff;
}

#userList {
  background-color: rgb(186, 236, 236);
  padding: 20px;
  margin: 20px;
  width: 50%;
}

#userListBox {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

ul li {
  padding: 12px 16px;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(131, 206, 206);
  border-radius: 10px;
}

ul li:last-child {
  border-bottom: none;
}

.expense-totalAmount {
  font-weight: bold;
  color: #a01e74;
}

.expense-username {
  flex: 1;
  margin: 0 10px;
  color: rgb(119, 28, 122);
}
